# COVID: Dashboard

Este proyecto tiene como objetivo realizar un dashboard visual de los casos globales de COVID-19.
El tratamiento de la informacion sera realizado con Python(Pandas). Se haran algunos analisis exploratorios.
Para la visualizacion se usara Google Data Studio porque no tengo Windows entonces no puedo usar Power BI, ni Tableu porque mi computadora es antigua xD.

* Data Source: https://github.com/CSSEGISandData/COVID-19

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_Confirmed = pd.read_csv("../../COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
df_Confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/14/22,2/15/22,2/16/22,2/17/22,2/18/22,2/19/22,2/20/22,2/21/22,2/22/22,2/23/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,171246,171422,171519,171673,171857,171931,172205,172441,172716,172901
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,268304,268491,268940,269301,269601,269904,270164,270370,270455,270734
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,262165,262570,262994,263369,263685,263936,264054,264201,264365,264488
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,37277,37361,37452,37522,37589,37589,37589,37589,37820,37901
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,98514,98555,98568,98585,98605,98617,98638,98658,98671,98698

In [5]:
df_Confirmed.shape

(284, 768)